body {
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc66;
    padding: 1em 1em 1em 1em;
    font-weight: normal;
    color: white;
}

header div.head {
    overflow: hidden;
    margin-bottom: .5em;
}

header img {
    float: left;
    margin-left:39%;
}

header h1 {
    padding-top: .5em;
  
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

header h2 {
    font-size: 0.9em;
    margin: 0;
}

header nav {
    overflow: hidden;
    border-radius: 3px;
    background: #663300;
    padding: 1em;
}
footer img{

	height:40px;
	width:40px;
	float:right;
}
footer img:hover{
	background-color:#663300;
}

header nav div.izda {
    float: left;
}

header nav div.dcha {
    float: right;
}

header nav span+span:before {
    content: " | ";
    padding: 0 .3em;
}

.menuitem {
    font-family: sans-serif;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menuitem:hover {
    border: 1px solid white;
    background-color: #ffcc66;
}

div.pagina {
    position: relative;
    min-height: 100vh;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section.principal {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    background-color: #ffcc66;
    font-weight: normal;
    color: white;
    padding: 1em;
}

div.sinpermiso {
    width: 50%;
    margin: auto;
}

div.error {
    text-align: center;
    border: 1px solid #663300;
    margin: 2em auto .5em auto;
    padding: .5em 2em .5em 2em;
    color: black;
}