form {
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    margin: 2em 0;
    padding: 2em;
}

div.form {
    width: 85%;
    margin: auto;
}

form div.out {
    width: 50%;
    float: left;
}

form div.in {
    padding: 2em;
}

div.clear {
    clear: both;
}

form label {
    font-weight: bold;
    font-size: 0.7em;
}

form input[type="text"] {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #663300;
    outline: none;
}

#esplst {
    width: 100%;
}

p.esptxt {
    margin: 0 0 .5em 0;
}

p.esp {
    width: 90%;
    margin: 0 auto 0.5em auto;
}

form p.bottom {
    background-color: #ffcc66;
    padding: 1em 2em 1em 2em;
    margin: 0;
    text-align: center;
}