form {
    overflow: hidden;
    background-color: white;
    border: 2px solid #663300;
    margin: 2em 0;
    padding: 2em;
}

div.form {
    width: 50%;
    margin: auto;
}

form label {
    font-weight: bold;
    font-size: 0.7em;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #663300;
    outline: none;
}

form p.bottom {
    background-color: #ffcc66;
    padding: 1em 2em 1em 2em;
    margin: 0;
    text-align: center;
}